.container {
    display: flex;
   flex-wrap: wrap;
    gap: 100px;
}

.box {

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item {
    background-color:antiquewhite;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
}
