<div class="comment-container">
    <ng-content></ng-content>

    @if(comment !== null){
    <p>text: {{ comment.commentText }}</p>
    <div style="display: flex">
        <p>likes: {{ comment.nameOfLikers?.length }}</p>
        <p>comments: {{ comment?.children?.length }}</p>
    </div>
    <p>publishedAt: {{comment.publishedAt}} by {{comment.ownerName}}</p>

    @if(comment?.children?.length !== 0){

    <button (click)="toggleChildrenComments()">Children comments:</button>
    } @for(children of comment.children; let i = $index; track children.id){
    <div>
        <div
            class="comment"
            [style.background]="computedBgColor"
            [style.margin]="computedWidth"
            *ngIf="showChildrenComments"
            class="toggle_children_comments"
            [level]="level + 1"
            app-comment-component
            [comment]="children"
        >
            <p>level: {{ level }}</p>
            <p><strong>Comentario filho</strong></p>
        </div>
    </div>

    } }
    <button>Add comment</button>
</div>
