<header class="header">
    <nav>
        <ul>
            @if(getUser() === null){
            <li><a routerLink="">About</a></li>
            <li><a routerLink="login">Login</a></li>
            <li><a routerLink="catalog">Catalog</a></li>
            }@else{
            <li><a routerLink="/user/user-profile">User profile</a></li>

            <li><a routerLink="/user/all-movies">All movies</a></li>

            @if(getUser()?.userType === "CLIENT"){
            <li><a routerLink="/user/rented-movies">Em construção</a></li>
            } @if(getUser()?.userType === "ADMIN"){
            <li><a routerLink="/user/manage-movies">Manage movies</a></li>
            <li><a routerLink="/user/manage-users">Manage users</a></li>
            }
         <button (click)="requestLogoff()">logoff</button>
        }


        </ul>
    </nav>
</header>
