<div class="movie">
    <div>
    <p>
        <strong>{{ movie.name }}</strong>

        @if(userIsAdmin()){
        <strong>Edit:</strong><input [(ngModel)]="name" type="text" />
        }
    </p>

    <p>
        {{ movie?.description }}
        @if(userIsAdmin()){
        <strong>Edit:</strong><input [(ngModel)]="description" type="text" />
        }
    </p>
    <img [src]="movie.image_url" (error)="fallback($event)" alt="" />

    @if(movie !== null && movie?.client !== null && user !== null){ @if (userIsAdmin()) {
    <div class="rent_client">
        <p>Rent to client: {{ movie.client?.name }}</p>
        <p>Rented: {{ movie.is_rent }}</p>
        <p>Date: {{ movie.rent_date }}</p>
    </div>

    } }
    </div>
     @if(userIsAdmin()){
    <button (click)="updateMovie(movie.id, name, description)">update</button>
    <button (click)="removeMovie(movie.id)">remove</button>
    }
    @if(user !== null && userIsClient()){ @if(movieRentedByCurrentUser(movie)){
    <p class="rented_by_user">Rented by you</p>
    <button (click)="returnMovie(movie.id)">return movie</button>
    }@else if(movieIsRented(movie)){
    <p class="not_avaliable">Not available</p>
    } @else {
    <p class="avaliable">Available</p>
    <button (click)="rentMovie(movie.id)">rent movie</button>
    } }
</div>
